<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<div id="paintings">
	<% for painting in @gallery.paintings %>
	<div class="painting" style="border: 1px solid black; width: 250px;" >
		<div class="image"><%= image_tag painting.image_url(:thumb).to_s %></div>
		<div class="name"><%= painting.name %></div>
		<div class="actions">
			<%= link_to "edit", edit_painting_path(painting) %> | 
			<%= link_to "remove", painting, :confirm => "Are you sure?", :method => :delete %>
		</div>
	</div>
	<% end %>	
	<div class="clear"></div>
</div>




<%= link_to 'Change Gallery Name', edit_gallery_path(@gallery) %> |
<%= link_to 'View Galleries', galleries_path %>
